//Colors
$primary-color-1: hsl(225, 100%, 94%);
$primary-color-2: hsl(245, 75%, 52%);
$neutral-color-1: hsl(225, 100%, 98%);
$neutral-color-2: hsl(224, 23%, 55%);
$neutral-color-3: hsl(223, 47%, 23%);
$shadow: rgba(0, 0, 0, 0.2);
//Sizing
$card-width: 460px;
$card-height: 680px;
$mobile-card-width: 320px;
$mobile-card-height: 550px;
$b-radius: 20px;
$b-content-radius: 10px;
$content-width: 80%;
//timing
$transition-delay: 0.3s;

html {
    font-family: 'Red Hat Display', sans-serif;
    font-height: 500;
    font-size: 16px;
    min-height: 700px;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    height: 100%;
    min-width: 375px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-image: url('images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-color: $primary-color-1;
}

footer {
    .attribution {
	font-size: 11px;
	text-align: center;
    }
    .attribution a {
	color: hsl(228, 45%, 44%);
    }
}


.card {
    width: 80%;
    max-width: $card-width;
    background-color: white;
    border-radius: $b-radius;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 20px 30px $shadow;
    
    > .image-container {
	width: 100%;
	border-radius: $b-radius $b-radius 0 0;
	> img {
	    width: inherit;
	    border-radius: inherit;
	}
    }

    section:nth-child(2) {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 75%;
	> h1 {
	    color: $neutral-color-3;
	    font-weight: 900;
	}
	> p {
	    color: $neutral-color-2;
	    margin-top: -0.5em;
	    line-height: 1.6em;
	}
    }

    section:nth-child(3) {
	display: flex;
	flex-direction: row;
	height: 6em;
	background-color: $neutral-color-1;
	border-radius: $b-content-radius;
	justify-content: space-between;
	width: $content-width;
	margin: {
	    top: 1em;
	    bottom: 1em;
	}
	> div {
	    display: flex;
	}
	div:nth-child(1) {
	    width: 30%;
	    justify-content: center;
	    align-items: center;
	    >img {
		width: 3em;
	    }
	}
	div:nth-child(2) {
	    width: 40%;
	    flex-direction: column;
	    line-height: 0.1em;
	    justify-content: center;
	    > div {
		width: 100%;
		margin-top: -0.8em;

		> h4 {
		    color: $neutral-color-3;
		    font-weight: 700;
		}
		> p {
		    color: $neutral-color-2;
		}
	    }
	}
	div:nth-child(3) {
	    width: 30%;
	    justify-content: center;
	    align-items: center;
	    font-size: 0.8em;
	    font-weight: 700;
	    > a {
		color: $primary-color-2;
		transition: color $transition-delay;
		&:hover {
		    color: $neutral-color-2;
		    transition: color $transition-delay;
		}
	    }
	}
    }

    section:nth-child(4) {
	display: flex;
	flex-direction: column;
	width: $content-width;
	margin-bottom: 1em;
	> div {
	    width: 100%;
	    height: 3.5em;
	    border: none;
	    cursor: pointer;
	    text-align: center;
	    border-radius: $b-content-radius;
	    font-size: 0.8em;
	    font-weight: 700;
	    margin-top: 1em;
	}

	div:nth-child(1) {
	    
	    background-color: $primary-color-2;
	    box-shadow: 0 20px 15px $shadow;
	    transition: background-color $transition-delay;
	    &:hover {
		background-color: $neutral-color-2;
		transition: background-color $transition-delay;
	    }
	    &:active {
		background-color: black;
	    }
	    > a {
		color: white;
		text-decoration: none;
	    }
	}
	div:nth-child(2) {
	    background-color: rgba(0, 0, 0, 0);
	    color: $neutral-color-2;
	    transition: color $transition-delay;
	    &:hover {
		color: $neutral-color-3;
		transition: color $transition-delay;
	    }
	    &:active {
		border: solid 1px black;
	    }
	    > a {
		color: $neutral-color-2;
		text-decoration: none;
		transition: color $transition-delay;
		&:hover {
		    color: $primary-color-2;
		    transition: color $transition-delay;
		}
	    }
	}
    }
}

//mobile view
@media only screen and (max-width: 600px) {
    main {
	background-image: url('images/pattern-background-mobile.svg');
	background-position: 50% 0%;
	background-size: contain;
    }
}
